{% load static %}

{% load widget_tweaks %}   

<section class="row Verifica_Contato">
    <div class="col-12 mt-3">
        <h3>Contato</h3>
        <hr>
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
        <label for="{{ form.email_1.id_for_label }}" class="form-label">{{ form.email_1.label }}: {% if form.email_1.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.email_1 class="form-control" %}
        {% for error in form.email_1.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
        <label for="{{ form.email_2.id_for_label }}" class="form-label">{{ form.email_2.label }}: {% if form.email_2.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.email_2 class="form-control" %}
        {% for error in form.email_2.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="div-phone-1" class="form-label">{{ form.phone_1.label }}: {% if form.phone_1.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        <div id="div-phone-1" class="d-inline-flex w-100 ">
            <div class="input-group pe-1">
                {% render_field form.phone_1 class="form-control" style="width: 60%;" %}
                {% render_field form.phone_1_tipo class="form-select" style="width: 40%;" %}
            </div>
            <a class="btn btn-outline-primary" href="#" id="btn_id_phone_1" target="_blank" title="Abrir APP com o Contato">
            </a>
        </div>
        {% for error in form.phone_1.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="div-phone-2" class="form-label">{{ form.phone_2.label }}: {% if form.phone_2.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        <div id="div-phone-2" class="d-inline-flex w-100 ">
            <div class="input-group pe-1">
                {% render_field form.phone_2 class="form-control" style="width: 60%;" %}
                {% render_field form.phone_2_tipo class="form-select" style="width: 40%;" %}
            </div>
            <a class="btn btn-outline-primary" href="#" id="btn_id_phone_2" target="_blank" title="Abrir APP com o Contato">
            </a>
        </div>
        {% for error in form.phone_2.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="div-phone-3" class="form-label">{{ form.phone_3.label }}: {% if form.phone_3.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        <div id="div-phone-3" class="d-inline-flex w-100 ">
            <div class="input-group pe-1">
                {% render_field form.phone_3 class="form-control" style="width: 60%;" %}
                {% render_field form.phone_3_tipo class="form-select" style="width: 40%;" %}
            </div>
            <a class="btn btn-outline-primary" href="#" id="btn_id_phone_3" target="_blank" title="Abrir APP com o Contato">
            </a>
        </div>
        {% for error in form.phone_3.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="col-sm-12 col-md-6 mb-3">
        <label for="{{ form.link_1.id_for_label }}" class="form-label">{{ form.link_1.label }}: {% if form.link_1.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.link_1 class="form-control" %}
        {% for error in form.link_1.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
        <label for="{{ form.link_2.id_for_label }}" class="form-label">{{ form.link_2.label }}: {% if form.link_2.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.link_2 class="form-control" %}
        {% for error in form.link_2.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-12 mb-3">
        <label for="{{ form.obs_contato.id_for_label }}" class="form-label">{{ form.obs_contato.label }}: {% if form.obs_contato.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.obs_contato class="form-control" rows="2" %}
        {% for error in form.obs_contato.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
</section>