{% extends 'base.html' %}

{% load humanize %}

{% block titulo %}
PJ - Busca
{% endblock %}



{% block pagina %}


<div class="container">
    <h2>
        <i class="bi bi-building"></i>
        Cadastros de Empresas
    </h2>
    <hr>
</div>

<div class="container">
    <div class="d-flex justify-content-end my-3">
        <a href="{% url 'empresa-cadastro' %}" class="btn btn-dark">
            <i class="bi bi-building-add me-1"></i>
            Adicionar Novo
        </a>
    </div>

    <form method="get">
        <div class="row mb-3">
            <label for="busca" class="form-label">Pesquisar:</label>
            <div class="d-flex align-items-end" id="busca">
                <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Nome ou CNPJ"
                    class="form-control me-1">
                <button type="submit" title="Pesquisar Registros" class="btn btn-dark">
                    <i class="bi bi-search" id="lupacep"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Status:</th>
                    <th scope="col">Nome Fantasia:</th>
                    <th scope="col">Razão Social:</th>
                    <th scope="col">CNPJ:</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td>
                        {% if item.status == 0 %}
                            Inativo
                        {% else %}
                            Ativo
                        {% endif %}
                    </td>
                    <td>{{item.nome_fantasia}}</td>
                    <td>{{item.pessoa_juridica}}</td>
                    <td>{{ item.cnpj|cnpj_format }}</td>
                    <td class="d-flex justify-content-end">
                        <div>
                            <a href="{% url 'empresa-edit' item.pk %}" title="Editar Registro" class="btn btn-dark btn-sm mt-1">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <button title="Apagar Registro" class="btn btn-danger btn-sm mt-1"  data-bs-toggle="modal" data-bs-target="#delete-{{item.pk}}">
                                <i class="bi bi-trash3"></i> 
                            </button>
                        </div>
                    </td>
                </tr>

                <div class="modal fade modal-lg" id="delete-{{item.pk}}" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                <i class="bi bi-trash3"></i>
                                Apagar
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Deseja excluir o registro?
                            </p>
                            <p>
                                <b>Nome Fantasia: </b>{{ item.nome_fantasia }}<br>
                                <b>Razão Social: </b>{{ item.pessoa_juridica }}<br>
                                <b>CNPJ: </b>{{ item.cnpj|cnpj_format }}
                            </p>
                            <p>
                                <b>Cadastrador Por: </b>{{ item.cadastrado_por }}<br>
                                <b>Data de Cadastro: </b>{{ item.cadastrado_em }}
                            </p>
                        
                            <p>* Esta ação não poderá ser desfeita</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                                <i class="bi bi-x-lg"></i>
                                Fechar
                            </button>
                            <a href="{% url 'empresa-delete' item.pk %}" class="btn btn-danger">
                                <i class="bi bi-check-lg"></i>
                                Confirmar
                            </a>
                        </div>
                        </div>
                    </div>
                </div>

                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Não existe cadastros</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% include "paginacao.html" %}

{% endblock %}
