{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block titulo %}
PJ - Cadastro
{% endblock %}


{% block pagina %}

{% include "cadastros/alertas.html" %}
<div class="container">
    <div id="liveAlertPlaceholder"></div>
</div>

<div class="container">
    <h2><i class="bi bi-building me-1"></i></i>Cadastro de Empresa</h2>
    <hr>
</div>


<div class="container">
    <form method="post">
        {% csrf_token %}

        <p class="text-secondary fw-lighter">
            Informe todos os campos obrigatorios (<span class="text-danger"><b>*</b></span>)
        </p>


        {% include "cadastros/empresa.html" %}

        <p>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" data-bs-toggle="collapse" href="#idContato" role="button">
                <label class="btn btn-outline-dark" for="btncheck1">Dados de Contato</label>
            
                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" data-bs-toggle="collapse" href="#idEndereco" role="button">
                <label class="btn btn-outline-dark" for="btncheck2">Dados de Endereço</label>
            
                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" data-bs-toggle="collapse" href="#idBanco" role="button">
                <label class="btn btn-outline-dark" for="btncheck3">Dados Bancários</label>
            </div>
        </p>

        <div class="collapse" id="idContato">
            {% include "cadastros/contato.html" %}
        </div>
        <div class="collapse" id="idEndereco">
            {% include "cadastros/endereco.html" %}
        </div>
        <div class="collapse" id="idBanco">
            {% include "cadastros/bacario.html" %}
        </div>

        {% include "cadastros/outros.html" %}


        <!-- ========================================================================================================== -->
        <!-- ===== BOTOES ===== -->
        <div class="container g-0 mt-2">
            <button type="submit" class="btn btn-success my-1 me-1">
                <i class="bi bi-check-lg me-1"></i>Salvar
            </button>
            <button type="reset" class="btn btn-warning my-1 me-1">
                <i class="bi bi-x me-1"></i>Limpar
            </button>
            <a href="{% url 'empresa-busca' %}" class="btn btn-dark my-1">
                <i class="bi bi-arrow-return-left me-1"></i>Voltar
            </a>
        </div>
    </form>
</div>


<script src="{% static 'cadastros/jQuery-v3.6.4.js' %}"></script>
<script src="{% static 'cadastros/jQuery Mask Plugin v1.14.16.js' %}"></script>
<script src="{% static 'cadastros/cadastro.js' %}"></script>


{% endblock %}
