{% load custom_humanize %}

<div class="modal fade modal-md" id="delete-{{item.pk}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header text-bg-danger">
            <h5 class="modal-title">
                🗑️ Apagar
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="lead">
                Deseja excluir o registro?
            </p>

            {% if item.cnpj %}
                <p>
                    <b>Data de Cadastro:</b> {{ item.created_at|date:"d/m/Y H:i" }}<br>
                    <b>CNPJ: </b>{{ item.cnpj|cnpj_format }}
                    <hr>
                    <b>Razão Social:</b><br>
                    {{ item.legal }}<br>
                    <b>Nome Fantasia:</b><br>
                    {{ item.fantasy }}
                </p>
            {% elif item.cpf %}
                <p>
                    <b>Data de Cadastro:</b> {{ item.created_at|date:"d/m/Y H:i" }}<br>
                    <b>CPF: </b>{{ item.cpf|cpf_format }}
                    <hr>
                    <b>Nome Completo:</b><br>{{ item.name }} {{ item.last_name }}
                </p>
            {% else %}
                <p class="text-danger">
                    <b>#Erro</b>
                </p>
            {% endif %}
            
            <p class="text-center">Esta ação não poderá ser desfeita</p>
        </div>
        <div class="modal-footer">

            {% if item.legal %}
                <form method="post" action="{% url 'register:enterprise_delete' item.pk %}">
            {% elif item.name %}
                <form method="post" action="{% url 'register:person_delete' item.pk %}">
            {% endif %}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-check-lg"></i>
                        Confirmar
                    </button>
                </form>

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <i class="bi bi-x-lg"></i>
                Cancelar
            </button>
        </div>
        </div>
    </div>
</div>
