{% load custom_humanize %}

<div class="modal fade modal-md" id="delete-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header text-bg-danger">
            <h5 class="modal-title">
                🗑️ Apagar
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="lead">
                Deseja excluir o registro?
            </p>
            {% if cadastro.legal %}
                <p>
                    <b>Data de Cadastro:</b> {{ cadastro.created_at|date:"d/m/Y H:i" }}<br>
                    <b>Razão Social: </b>{{ cadastro.legal }}<br>
                    <b>Nome Fantasia: </b>{{ cadastro.fantasy }}<br>
                    <b>CNPJ: </b>{{ cadastro.cnpj|cnpj_format }}
                </p>
            {% elif cadastro.primeiro_nome %}
                <p>
                    <b>Data de Cadastro:</b> {{ cadastro.created_at|date:"d/m/Y H:i" }}<br>
                    <b>Nome Completo: </b>{{ cadastro.name }} {{ cadastro.last_name }}<br>
                    <b>CPF: </b>{{ cadastro.cpf|cpf_format }}
                </p>
            {% endif %}
            <p>
                <b>Data de Cadastro:</b>
                {{ item.created_at|date:"d/m/Y H:i" }}<br>

                <b>Última Alteração:</b>
                {{ item.updated_at|date:"d/m/Y H:i" }}
            </p>
        
            <p class="text-center">Esta ação não poderá ser desfeita</p>
        </div>
        <div class="modal-footer">
            <form method="post" action="{% url 'enterprise_delete' cadastro.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-check-lg"></i>
                    Confirmar
                </button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <i class="bi bi-x-lg"></i>
                Cancelar
            </button>
        </div>
        </div>
    </div>
</div>
