{% extends 'base.html' %}

{% load humanize %}

{% block title %}
Agenda
{% endblock %}

{% block content %}

<div class="container">
    <h2>☎️ Agenda</h2>
    <hr>
</div>

<div class="container">
    <form method="get">
        <div class="row">
            <div class="col-12 col-md-6 mb-1">
                <label for="busca" class="form-label">Pesquisar:</label>
                <div class="input-group" id="busca">
                    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Nome ou Empresa" class="form-control">

                    {% if request.GET.q %}
                        <a href="{% url 'contacts_' %}" class="btn btn-warning" title="Limpar busca">
                            <i class="bi bi-x-lg"></i>
                        </a>
                    {% endif %}

                    <button type="submit" title="Pesquisar Contatos" class="btn btn-primary">
                        <i class="bi bi-search" id="lupacep"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="container">

    <div class="table-responsive">
        <table class="table table-sm table-striped align-middle mt-3">
            <thead>
                <tr>
                    <th scope="col">Nome ou Nome Fantasia:</th>
                    <th scope="col">Fone 01:</th>
                    <th scope="col">Fone 02:</th>
                    <th scope="col">Fone 03:</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td class="text-capitalize">
                        {% if item.fantasy %}
                            {{ item.fantasy }}
                        {% else %}
                            {{ item.name }} {{ item.last_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if item.phone_1 %}
                            {% if item.phone_1_tipo == 2 %}
                                <a href="https://wa.me/{{ item.phone_1}}" target="_blank" class="btn btn-sm btn-outline-success contato">
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            {% elif item.phone_1_tipo == 1 %}
                                <a href="tel:{{ item.phone_1}}" target="_blank" class="btn btn-sm btn-outline-dark contato">
                                    <i class="bi bi-telephone-outbound"></i>
                                </a>
                            {% endif %}
                            {{ item.phone_1 }}
                        {% else %}
                        <i class="bi bi-hash"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.phone_2 %}
                            {% if item.phone_2_tipo == 2 %}
                                <a href="https://wa.me/{{ item.phone_2}}" target="_blank" class="btn btn-sm btn-outline-success contato">
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            {% elif item.phone_2_tipo == 1 %}
                                <a href="tel:{{ item.phone_2}}" target="_blank" class="btn btn-sm btn-outline-dark contato">
                                    <i class="bi bi-telephone-outbound"></i>
                                </a>
                            {% endif %}
                            {{ item.phone_2 }}
                        {% else %}
                        <i class="bi bi-hash"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.phone_3 %}
                            {% if item.phone_3_tipo == 2 %}
                                <a href="https://wa.me/{{ item.phone_3}}" target="_blank" class="btn btn-sm btn-outline-success contato">
                                    <i class="bi bi-whatsapp"></i>
                                </a>
                            {% elif item.phone_3_tipo == 1 %}
                                <a href="tel:{{ item.phone_3}}" target="_blank" class="btn btn-sm btn-outline-dark contato">
                                    <i class="bi bi-telephone-outbound"></i>
                                </a>
                            {% endif %}
                            {{ item.phone_3 }}
                        {% else %}
                        <i class="bi bi-hash"></i>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">
                            <i class="bi bi-exclamation-lg"></i>
                            Não existem Cadastros
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    // Obtém os elementos <a> pela classe
    var contatoLinks = document.getElementsByClassName("contato");

    // Itera sobre os elementos encontrados
    for (var i = 0; i < contatoLinks.length; i++) {
        var contatoLink = contatoLinks[i];
        // Obtém o valor atual do atributo href
        var href = contatoLink.getAttribute("href");
        // Remove os caracteres desejados usando expressões regulares
        var cleanedHref = href.replace(/[()\s-]/g, "");
        // Atualiza o valor do atributo href com o valor limpo
        contatoLink.setAttribute("href", cleanedHref);
    }
</script>

{% include "pagination.html" %}

{% endblock %}
