{% extends 'base.html' %}

{% load custom_humanize %}

{% block title %}
Pessoas
{% endblock %}

{% block content %}


<div class="container">
    <div>
        <h2>
        🧑 Pessoas
        </h2>
        <hr>
    </div>
</div>

<div class="container">

    <form method="get">
        <div class="row">
            <div class="col-12 col-md-6 mb-1">
                <label for="busca" class="form-label">Pesquisar:</label>
                <div class="input-group" id="busca">
                    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Nome/Nome Completo ou CPF"
                        class="form-control">

                    {% if request.GET.q %}
                        <a href="{% url 'register:person_' %}" class="btn btn-warning" title="Limpar busca">
                            <i class="bi bi-x-lg"></i>
                        </a>
                    {% endif %}

                    <button type="submit" title="Pesquisar Registros" class="btn btn-primary">
                        🔍
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-1 align-self-end text-end">
                <a href="{% url 'register:person_add' %}" class="btn btn-primary">
                    <i class="bi bi-person-plus"></i>
                    Adicionar Novo
                </a>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-sm table-striped align-middle mt-3">
            <thead>
                <tr>
                    <th scope="col">ID:</th>
                    <th scope="col" class="text-center">Status:</th>
                    <th scope="col">Nome Completo:</th>
                    <th scope="col">CPF:</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td class="fw-bold">{{item.pk}}</td>
                    <td class="text-center">
                        {% if item.active == 0 %}
                            <i class="bi bi-x-circle text-danger"></i>
                        {% else %}
                            <i class="bi bi-check-circle-fill text-success"></i>
                        {% endif %}
                    </td>
                    <td>{{item.name}} {{item.last_name}}</td>
                    <td style="white-space: nowrap;">{{ item.cpf|cpf_format }}</td>
                    <td>
                        <div class="d-flex justify-content-end gap-2">
                            <a href="{% url 'register:person_detail' item.pk %}" title="Ver Registro" class="btn btn-info btn-sm">
                                🔍
                            </a>
                            <button title="Apagar Registro" class="btn btn-danger btn-sm"  data-bs-toggle="modal" data-bs-target="#delete-{{item.pk}}">
                                🗑️
                            </button>
                        </div>
                    </td>
                </tr>
                    {% include "register\_modal_delete.html" %}
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        <i class="bi bi-exclamation-lg"></i>
                        Não existem Cadastros
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "pagination.html" %}

{% endblock %}
