{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block titulo %}
PJ - Cadastro
{% endblock %}


{% block pagina %}


<div class="container">
    <div id="liveAlertPlaceholder"></div>
</div>

<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <h2>
                🏢 Cadastro de Empresa
            </h2>
        </div>
        <div>
            {% if form.instance.id %}
                <a href="{% url 'register:enterprise_log' form.instance.id %}" title="Log de Alterações" class="btn btn-outline-secondary">
                    <i class="bi bi-journal-text"></i>
                    Log
                </a>
            {% endif %}
        </div>
    </div>
    <hr>
</div>


<div class="container">

    <form method="post" class="needs-validation" novalidate>

        {% csrf_token %}

        <p class="text-secondary fw-lighter text-end">
            Informe todos os campos obrigatorios (<span class="text-danger"><b>*</b></span>)
        </p>


        {% include "register/components/enterprise.html" %}

        <p>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" data-bs-toggle="collapse" href="#idContato" role="button">
                <label class="btn btn-outline-primary" for="btncheck1">
                    <i class="bi bi-telephone"></i>
                    Contato
                </label>
            
                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" data-bs-toggle="collapse" href="#idEndereco" role="button">
                <label class="btn btn-outline-primary" for="btncheck2">
                    <i class="bi bi-mailbox"></i>
                    Endereço
                </label>
            
                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" data-bs-toggle="collapse" href="#idBanco" role="button">
                <label class="btn btn-outline-primary" for="btncheck3">
                    <i class="bi bi-bank"></i>
                    Dados Bancários
                </label>
            </div>
        </p>

        <div class="collapse" id="idContato">
            {% include "register/components/contact.html" %}
        </div>
        <div class="collapse" id="idEndereco">
            {% include "register/components/address.html" %}
        </div>
        <div class="collapse" id="idBanco">
            {% include "register/components/banking.html" %}
        </div>

        {% include "register/components/others.html" %}

        <!-- ========================================================================================================== -->
        <!-- ===== BOTOES ===== -->
        <div class="container g-0 mt-2">
            {% if not is_detail %}
                <button type="submit" class="btn btn-success my-1 me-1">
                    <i class="bi bi-check-lg me-1"></i> Salvar
                </button>
                <button type="reset" class="btn btn-warning my-1 me-1">
                    <i class="bi bi-x me-1"></i> Limpar
                </button>
            {% else %}
                <a href="{% url 'register:enterprise_edit' item.pk %}" title="Editar Registro" class="btn btn-primary my-1 me-1">
                    <i class="bi bi-pencil"></i> Editar
                </a>

                <a href="{% url 'register:enterprise_log' item.pk %}" title="Log de Alterações" class="btn btn-outline-secondary my-1 me-1">
                    <i class="bi bi-journal-text"></i> Log
                </a>

                <button title="Apagar Registro" type="button" class="btn btn-danger my-1 me-1" data-bs-toggle="modal" data-bs-target="#delete-{{item.pk}}">
                    <i class="bi bi-trash3"></i>
                </button>

            {% endif %}
                <button type="button" onclick="window.history.go(-1)" class="btn btn-secondary my-1">
                    <i class="bi bi-arrow-return-left me-1"></i>Voltar
                </button>
        </div>
    </form>
</div>

    {% include "register/_modal_delete.html" %}

<script src="{% static 'cadastros/jQuery-v3.6.4.js' %}"></script>
<script src="{% static 'cadastros/jQuery Mask Plugin v1.14.16.js' %}"></script>
<script src="{% static 'cadastros/cadastro.js' %}"></script>
<script src="{% static 'cadastros/verifica_campos.js' %}"></script>
<script src="{% static 'cadastros/validacao.js' %}"></script>


{% endblock %}