{% load custom_humanize %}

<div class="modal fade modal-lg" id="delete-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                <i class="bi bi-trash3"></i>
                Apagar
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
                Deseja excluir o registro?
            </p>
            {% if cadastro.nome_fantasia %}
                <p>
                    <b>Nome Fantasia: </b>{{ cadastro.nome_fantasia }}<br>
                    <b>Razão Social: </b>{{ cadastro.pessoa_juridica }}<br>
                    <b>CNPJ: </b>{{ cadastro.cnpj|cnpj_format }}
                </p>
            {% elif cadastro.primeiro_nome %}
                <p>
                    <b>Nome Completo: </b>{{ cadastro.primeiro_nome }} {{ cadastro.ultimo_nome }}<br>
                    <b>CPF: </b>{{ cadastro.cpf|cpf_format }}
                </p>
            {% endif %}
            <p>
                <b>Cadastrador Por: </b>{{ cadastro.cadastrado_por }}<br>
                <b>Data de Cadastro: </b>{{ cadastro.cadastrado_em }}
            </p>
        
            <p>* Esta ação não poderá ser desfeita</p>
        </div>
        <div class="modal-footer">
            <form method="post" action="{% url 'empresa-delete' cadastro.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-check-lg"></i>
                    Confirmar
                </button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <i class="bi bi-x-lg"></i>
                Cancelar
            </button>
        </div>
        </div>
    </div>
</div>
