<div class="row">
    <div class="col-12 mt-3">
        <h3>Dados Bancarios (form invalido)</h3>
        <hr>
    </div>

    <div class="col-sm-12 col-md-4 mb-3">
        <label class="form-label">primeiro nome</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-sm-12 col-md-8 mb-3">
        <label class="form-label">ultimo nome</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-6 col-sm-6 col-md-2 mb-3">
        <label class="form-label">CPF Titular</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-6 col-sm-6 col-md-3 mb-3">
        <label class="form-label">Tipo de Conta</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-6 col-sm-6 col-md-2 mb-3">
        <label class="form-label">N Banco</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-6 col-sm-6 col-md-2 mb-3">
        <label class="form-label">Agencia</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-6 col-sm-6 col-md-2 mb-3">
        <label class="form-label">Conta</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-6 col-sm-1 col-md-1 mb-3">
        <label class="form-label">Digito</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-12 col-sm-12 col-md-6 mb-3">
        <label class="form-label">Chave PIX</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-12 col-sm-12 col-md-6 mb-3">
        <label class="form-label">Chave PIX</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-sm-12 col-md-12 mb-3">
        <label class="form-label">obs</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>