{% load static %}
{% load widget_tweaks %}   

<section class="row">
    <div class="col-12 mt-3">
        <h3>Outros</h3>
        <hr>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="{{ form.status.id_for_label }}" class="form-label">{{ form.status.label }}: {% if form.status.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.status class="form-select" %}
        {% for error in form.status.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-6 col-sm-6 col-md-4 mb-3">
        <label for="{{ form.ultima_att.id_for_label }}" class="form-label">{{ form.ultima_att.label }}: 
            {% if form.ultima_att.field.required %}<span class="text-danger">*</span>{% endif %}</label>
            {% render_field form.ultima_att class="form-control" disabled="True" %}
    </div>
    <div class="col-6 col-sm-6 col-md-4 mb-3">
        <label for="{{ form.data_att.id_for_label }}" class="form-label">{{ form.data_att.label }}: 
            {% if form.data_att.field.required %}<span class="text-danger">*</span>{% endif %}</label>
            {% render_field form.data_att class="form-control" disabled="True" %}
    </div>
</section>