{% load static %}
{% load widget_tweaks %}   

<section class="row">
    <div class="col-12 mt-3">
        <h3>Dados da Empresa</h3>
        <hr>
    </div>
    <div class="col-sm-12 col-md-4 mb-3 position-relative">
        <label for="div-cnpj" class="form-label">{{ form.cnpj.label }}: {% if form.cnpj.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        <div id="div-cnpj" class="w-100">
            <div class="input-group">
                {% render_field form.cnpj class="form-control"  onkeyup="validarCNPJ_x()"  autocomplete="false" placeholder="00.000.000/0000-00" data-mask="00.000.000/0000-00" %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#Modal-CNPJ" class="btn btn-outline-primary" title="Buscar dados do CNPJ" {% if is_detail %}disabled{% endif %}>
                    🔍
                </button>
            </div>
            <div>
                {% for error in form.cnpj.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="invalid-feedback">
                    Este campo é obrigatório
                </div>
                <div class="invalid-feedback" id="cnpjlog">
                    CNPJ invalido
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="{{ form.n_state.id_for_label }}" class="form-label">{{ form.n_state.label }}: {% if form.n_state.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.n_state class="form-control" %}
        {% for error in form.n_state.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="{{ form.n_municipal.id_for_label }}" class="form-label">{{ form.n_municipal.label }}: {% if form.n_municipal.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.n_municipal class="form-control" %}
        {% for error in form.n_municipal.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-12 mb-3">
        <label for="{{ form.legal.id_for_label }}" class="form-label">{{ form.legal.label }}: {% if form.legal.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.legal class="form-control" %}
        {% for error in form.legal.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <div class="invalid-feedback">
            Este campo é obrigatório
        </div>
    </div>

    <div class="col-sm-12 col-md-12 mb-3">
        <label for="{{ form.fantasy.id_for_label }}" class="form-label">{{ form.fantasy.label }}: {% if form.fantasy.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.fantasy class="form-control" %}
        {% for error in form.fantasy.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <div class="invalid-feedback">
            Este campo é obrigatório
        </div>
    </div>
    <div class="col-sm-6 col-md-2 mb-3">
        <label for="{{ form.cnpj_situation.id_for_label }}" class="form-label">{{ form.cnpj_situation.label }}: {% if form.cnpj_situation.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.cnpj_situation class="form-control" %}
        {% for error in form.cnpj_situation.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-6 col-md-4 mb-3">
        <label for="{{ form.cnpj_carrying.id_for_label }}" class="form-label">{{ form.cnpj_carrying.label }}: {% if form.cnpj_carrying.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.cnpj_carrying class="form-control" %}
        {% for error in form.cnpj_carrying.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-6 col-md-2 mb-3">
        <label for="{{ form.cnpj_date.id_for_label }}" class="form-label">{{ form.cnpj_date.label }}: {% if form.cnpj_date.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.cnpj_date class="form-control" type="date" %}
        {% for error in form.cnpj_date.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-6 col-md-4 mb-3">
        <label for="{{ form.cnpj_type_activity.id_for_label }}" class="form-label">{{ form.cnpj_type_activity.label }}: {% if form.cnpj_type_activity.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.cnpj_type_activity class="form-control" %}
        {% for error in form.cnpj_type_activity.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-12 mb-3">
        <label for="{{ form.cnpj_activity.id_for_label }}" class="form-label">{{ form.cnpj_activity.label }}: {% if form.cnpj_activity.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.cnpj_activity class="form-control" rows="2"  %}
        {% for error in form.cnpj_activity.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <!-- ===== OBS ===== -->
    <div class="col-sm-12 col-md-12 mb-3">
        <label for="{{ form.obs.id_for_label }}" class="form-label">{{ form.obs.label }}: {% if form.obs.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.obs class="form-control" rows="2" %}
        {% for error in form.obs.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <div class="invalid-feedback">
            Este campo é obrigatório
        </div>
    </div>

</section>

<div class="modal" tabindex="-1" id="Modal-CNPJ">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Load CNPJ</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Esta ação ir sobrescrever os dados preenchidos caso o campo já esteja povoado e haja novas informações.</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fechar</button>
        <button type="button" onclick="carregarCNPJ(document.getElementById('id_cnpj').value)" class="btn btn-success" title="Buscar dados do CNPJ" data-bs-dismiss="modal">
            Confirmar 
        </button>
        </div>
        </div>
    </div>
</div>