{% load static %}
{% load widget_tweaks %}   

<section class="row Verifica_Cnh">
    <div class="col-12 mt-3">
        <h3>Habilitação</h3>
        <hr>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
        <label for="{{ form.cnh_n.id_for_label }}" class="form-label">{{ form.cnh_n.label }}: {% if form.cnh_n.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.cnh_n class="form-control" %}
        {% for error in form.cnh_n.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-3 mb-3">
        <label for="{{ form.cnh_emission.id_for_label }}" class="form-label">{{ form.cnh_emission.label }}: {% if form.cnh_emission.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.cnh_emission class="form-control" type="date" %}
        {% for error in form.cnh_emission.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="col-sm-12 col-md-3 mb-3">
        <label for="{{ form.cnh_validity.id_for_label }}" class="form-label">{{ form.cnh_validity.label }}: {% if form.cnh_validity.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.cnh_validity class="form-control" type="date" %}
        {% for error in form.cnh_validity.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="col-sm-12 col-md-2 mb-3">
        <label for="{{ form.cnh_category.id_for_label }}" class="form-label">{{ form.cnh_category.label }}: {% if form.cnh_category.field.required %}<span class="text-danger">*</span>{% endif %}</label>
        {% render_field form.cnh_category class="form-select" %}
        {% for error in form.cnh_category.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    
</section>