<ul class="navbar-nav">
    <li class="navbar-item">
        <button class="btn btn-sm border-0" type="button" onclick="CapTheme()" id="current-theme" title="Tema">
            <span style="font-size: 24px;">🌒</span>
        </button>
    </li>
</ul>

<script>
    changeTheme(localStorage.getItem('tema_cadastros_bs'))
    function CapTheme() {
        const valor = localStorage.getItem('tema_cadastros_bs')
        const texto_tema = document.getElementById('current-theme');
        if (valor == 'dark') {
            changeTheme('light')
        } else {
            changeTheme('dark')
        }
    }
    function changeTheme(theme) {
        document.documentElement.setAttribute('data-bs-theme', theme);
        localStorage.setItem('tema_cadastros_bs', theme);
        const valor = localStorage.getItem('tema_cadastros_bs')
        const texto_tema = document.getElementById('current-theme');
        if (valor == 'dark') {
            texto_tema.innerHTML = '<span style="font-size: 24px;">☀️</span>'
            document.body.classList.remove('text-bg-light');
        } else {
            texto_tema.innerHTML = '<span style="font-size: 24px;">🌒</span>'
            document.body.classList.add('text-bg-light');
        }
    }
</script>
