{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block titulo %}
Cadastro - Delete
{% endblock %}



{% block pagina %}

<div class="container">
    <h2><i class="bi bi-person-fill-x me-2"></i>Excluir Registro</h2>
    <hr>
</div>


<div class="container pt-2">
    <p>
        <b>Deseja excluir o registro?</b>
    </p>
    

    <p><b>Nome Completo: </b><br>{{ object.primeiro_nome }} {{ object.ultimo_nome }}</p>

    <p><b>CPF: </b><br>{{ object.cpf|cpf_format }}</p>

    <p>
        <b>Cadastrador Por: </b>{{ object.cadastrado_por }}<br>
        <b>Data de Cadastro: </b>{{ object.cadastrado_em }}<br>
    </p>

    <p>Esta ação não poderá ser desfeita</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger my-1"><i class="bi bi-trash3 me-1"></i>Excluir</button>
        <a href="{% url 'pessoa-busca' %}" class="btn btn-dark my-1">
            <i class="bi bi-arrow-return-left me-1"></i>
            Voltar</a>
    </form>


</div>

{% endblock %}